<div class="container">

    <div class="row mt-5">
        <div
            *ngFor="let module of modulesCard" 
            class="col-sm-12 col-md-6 col-lg-3">
            <div class="card cursor-pointer  text-700 border-round mb-5">
                
                <img [routerLink]="'/main/'+module.path" [defaultImage]="" [lazyLoad]="module.img">
                <h4 [routerLink]="'/main/'+module.path" class="text-center p-1" >
                    {{ module.nameModule }}
                </h4>
                
            </div>
        </div>
    </div>

</div>
    

