<!-- Modal agregar -->
<p-dialog [(visible)]="createModal" [modal]="true" [showHeader]="false" [closable]="false" 
          class="p-fluid" [style]="{width: '40vw'}"
          [draggable]="false" [resizable]="false">

          <ng-template pTemplate="content">

            <div class="flex justify-content-between align-items-center my-4">
                <h5>{{titleForm}}</h5>
                <div class="p-dialog-header-icons">
                    <button pButton pRipple type="button" icon="pi pi-times"
                            class="p-button-rounded p-button-secondary p-button-text"
                            (click)="closeModal()">
                    </button>
                </div>
            </div>

            <form [formGroup]="form" autocomplete="off">

                <div class="field">
                    <label for="codprf">Código *</label>
                    <input  type="text"
                            id="codprf" 
                            pInputText
                            formControlName="codprf"
                            placeholder="Ingrese el código"/>
                    <span class="form-text text-danger"
                          *ngIf="campoInvalid('codprf')">
                        {{ codprfMsgError }}
                    </span>
                </div>
                
                <div class="field">
                    <label for="desprf">Descripción *</label>
                    <input  type="text" 
                            id="desprf"
                            pInputText
                            formControlName="desprf" 
                            placeholder="Ingrese la descripción"/>
                    <span class="form-text text-danger"
                          *ngIf="campoInvalid('desprf')">
                        {{ desprfMsgError }}
                    </span>
                </div>

            </form>

        </ng-template>
        
        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button" (click)="closeModal()"></button>
            <button pButton pRipple type="submit" label="Guardar" icon="pi pi-check" class="p-button" (click)="save()"></button>
        </ng-template>
</p-dialog>