@import "src/styles";

.login-content {
    background-image: url("./../../../../assets/images/fondo_module/bg_login.jpg");
}

.btn-infocent {
    border-color: $primary-color;
    background: $primary-color;
}

.btn-infocent:hover {
    border-color: $primary-color;
    background: $primary-color;
}
