<!-- Spinner -->
<app-spinner></app-spinner>

<!-- Mensajes de alertas para usuarios -->
<p-toast></p-toast>
<p-confirmDialog ></p-confirmDialog>

<div class="grid">
    <div class="col-12">

        <div class="header-card bg-gray-600 text-white p-2">Empresas</div>
        <div class="card-table">

            <!-- Pestañas -->
            <p-tabView>

                <!--/*******************
                /*  Consultar empresas *
                /*********************** -->
                <p-tabPanel header="Consultar empresas">

                    <!-- Componente de botones -->
                    <!-- TODO: Realizar si hace falta agregar, modificar y eliminar empresas en este modulo -->
                    <!-- <app-buttons (onRefresh)="refresh()"
                                 (onOpenModalPrint)="openModalPrint()"
                                 (onOpenModalCreate)="openModalCreate()"
                                 (onEditRow)="editRow($event)"
                                 (onDeleteRow)="deleteRow($event)">
                    </app-buttons> -->

                    <!-- Componente table -->
                    <app-data-table [companias]="companias"
                                    [tab]="'consultar'">
                    </app-data-table>

                </p-tabPanel>

                <!--/*************************
                /*    Parametros iniciales   *
                /***************************** -->
                <p-tabPanel header="Parámetros iniciales" [disabled]="empresaRow == null">
                    
                    <app-parametros-iniciales [empresa]="empresaRow"
                                              [tipoVacaciones]="tipoVacaciones">
                    </app-parametros-iniciales>

                </p-tabPanel>

            </p-tabView>
   
        </div>

    </div>
</div>