<!-- Modal imprimir -->
<p-dialog [(visible)]="printModal" [modal]="true" [showHeader]="false" [closable]="false"
        class="p-fluid" [breakpoints]="{'960px': '60vw', '640px': '90vw'}" [style]="{width: '40vw'}"  
        [draggable]="false" [resizable]="false" >
        
        <ng-template pTemplate="content">

            <div class="flex justify-content-between align-items-center my-4">
                <h5>Imprimir categorias</h5>
                <div class="p-dialog-header-icons">
                    <button pButton pRipple type="button" icon="pi pi-times"
                            class="p-button-rounded p-button-secondary p-button-text"
                            (click)="closeModalPrint()">
                    </button>
                </div>
            </div>

            <form [formGroup]="form">

                <div class="field">
                    <label for="status">Tipo *</label>
                    <p-dropdown [options]="typesFile" 
                                appendTo="body"
                                [showClear]="true"
                                formControlName="type"
                                placeholder="Seleccione un tipo" >
                    </p-dropdown>
                </div>

                <div class="field">
                    <label for="id">Código</label>
                    <input  type="text"
                            pInputText
                            id="id"
                            formControlName="id"
                            placeholder="Ingrese el código"/>
                </div>
                
                <div class="field">
                    <label for="desniv">Descripción</label>
                    <input  type="text"
                            pInputText
                            id="desniv"
                            formControlName="des"
                            placeholder="Ingrese la descripción"/>
                </div>

            </form>

        </ng-template>

        <ng-template pTemplate="footer">
            <div class="mt-2">
                <button pButton 
                        pRipple
                        label="Cancelar"
                        class="p-button-secondary my-1"
                        (click)="closeModalPrint()">
                </button>
                <button pButton 
                        pRipple
                        label="Imprimir"
                        icon="pi pi-print"
                        class="btn-infocent my-1"
                        (click)="export()">
                </button>
            </div>
        </ng-template>

</p-dialog>