<!-- Modal agregar -->
<p-dialog [(visible)]="createModal" [modal]="true" [showHeader]="false" [closable]="false" 
          class="p-fluid" [breakpoints]="{'960px': '80vw', '640px': '90vw'}" [style]="{width: '50vw'}"
          [draggable]="false" [resizable]="false">

          <ng-template pTemplate="content">

            <div class="flex justify-content-between align-items-center my-4">
                <h5>{{titleForm}}</h5>
                <div class="p-dialog-header-icons">
                    <button pButton pRipple type="button" icon="pi pi-times"
                            class="p-button-rounded p-button-secondary p-button-text"
                            (click)="closeModal()">
                    </button>
                </div>
            </div>

            <form [formGroup]="form" autocomplete="off">

                <!-- <hr *ngIf="isEdit" class="mt-4"> -->

                <div class="formgrid grid">
                    
                    <div class="field col-12 md:col-4">
                        <label for="codgru">Código *</label>
                        <input  type="text"
                                id="codgru" 
                                pInputText
                                formControlName="codgru"
                                placeholder="Ingrese el código"/>
                        <span class="form-text text-danger"
                              *ngIf="campoInvalid('codgru')">
                            {{ codgruMsgError }}
                        </span>
                    </div>

                    <div class="field col-12 md:col-8">
                        <label for="desgru">Descripción *</label>
                        <input  type="text" 
                                id="desgru"
                                pInputText
                                formControlName="desgru"
                                placeholder="Ingrese la descripción"/>
                        <span class="form-text text-danger"
                              *ngIf="campoInvalid('desgru')">
                            {{ desgruMsgError }}
                        </span>
                    </div>

                </div>

                <div class="formgrid grid">

                    <div class="field col-12 md:col-12" formGroupName="tipoJornada">
                        <label for="tipoJornada">Tipo de jornada *</label>
                        <p-dropdown [options]="tipoJornada" 
                                    inputId="tipoJornada"
                                    appendTo="body"
                                    optionDisabled="inactive"
                                    formControlName="id">
                            <ng-template let-option pTemplate="item">
                                <span> {{ option.label }} </span>
                            </ng-template>
                        </p-dropdown>
                        <span class="form-text text-danger"
                              *ngIf="tipoJornadaFormGroup.controls['id'].errors
                                    && tipoJornadaFormGroup.controls['id'].touched
                                    && tipoJornadaFormGroup.controls['id'].dirty
                                    && this.form.invalid">
                            El tipo de jornada es obligatorio.
                        </span>
                    </div>
                    
                </div>

                <div class="formgrid grid">

                    <div class="field col-12 md:col-12">
                        <label for="labdom" class="flex justify-content-center align-items-center">Labora el día Domingo</label>
                        <div class="field-checkbox mt-3 flex justify-content-center align-items-center">
                            <p-checkbox id="labdom"
                                        name="labdom"
                                        formControlName="labdom"
                                        [value]="true"
                                        [binary]="true">
                            </p-checkbox>
                        </div>
                    </div>

                </div>

            </form>

        </ng-template>
        
        <ng-template pTemplate="footer">
            <div class="mt-2">
                <button pButton 
                        pRipple 
                        label="Cancelar"
                        class="p-button-secondary my-1" 
                        (click)="closeModal()">
                </button>
                <button pButton 
                    pRipple 
                    type="submit" 
                    label="Guardar" 
                    icon="pi pi-save"
                    class="btn-infocent my-1" 
                    (click)="save()">
                </button>
            </div>
        </ng-template>
</p-dialog>