<!-- Spinner -->
<app-spinner></app-spinner>

<!-- Mensajes de alertas para usuarios -->
<p-toast></p-toast>
<p-confirmDialog ></p-confirmDialog>


<div class="grid">
    <div class="col-12">

        <div class="header-card bg-gray-600 text-white p-2">Sindicatos</div>
        <div class="card-table">
            
            <!-- Componente de botones -->
            <app-buttons (onRefresh)="refresh()"
                         (onOpenModalPrint)="openModalPrint()"
                         (onOpenModalCreate)="openModalCreate()"
                         (onEditRow)="editRow($event)"
                         (onDeleteRow)="deleteRow($event)">
            </app-buttons>

            <!-- Componente table -->
            <app-data-table [sindicatos]="sindicatos"></app-data-table>
   
        </div>

    </div>
</div>


<!-- Modal imprimir -->
<p-dialog [(visible)]="printModal" header="Imprimir sindicatos" [modal]="true" [style]="{width: '40vw'}" class="p-fluid"
        [draggable]="false" [resizable]="false">
        
        <ng-template pTemplate="content">

            <div class="field">
                <label for="status">Tipo *</label>
                <p-dropdown [options]="typesFile" 
                            appendTo="body"
                            [showClear]="true"
                            placeholder="Seleccione un tipo">
                </p-dropdown>
            </div>

            <div class="field">
                <label for="id">Código</label>
                <input  type="text"
                        pInputText
                        id="id"
                        placeholder="Ingrese el código"/>
            </div>
            
            <div class="field">
                <label for="desniv">Descripción</label>
                <input  type="text"
                        pInputText
                        id="desniv"
                        placeholder="Ingrese la descripción"/>
            </div>

        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button" (click)="printModal = false"></button>
            <p-button icon="pi pi-check" (click)="export()" label="Imprimir" icon="pi pi-print" styleClass="p-button"></p-button>
        </ng-template>
</p-dialog>

<!-- Modal agregar -->
<p-dialog [(visible)]="createModal" [modal]="true" [showHeader]="false" [closable]="false" 
          class="p-fluid" [style]="{width: '90vw'}"
          [draggable]="false" [resizable]="false">

          <ng-template pTemplate="content">

            <div class="flex justify-content-between align-items-center my-4">
                <h5>{{titleForm}}</h5>
                <div class="p-dialog-header-icons">
                    <button pButton pRipple type="button" icon="pi pi-times"
                            class="p-button-rounded p-button-secondary p-button-text"
                            (click)="closeModal()">
                    </button>
                </div>
            </div>

            <form [formGroup]="form" autocomplete="off">

                <div class="formgrid grid">
                    
                    <div class="field col-4">
                        <label for="codsin">Código *</label>
                        <input  type="text"
                                id="codsin" 
                                pInputText
                                formControlName="codsin"
                                placeholder="Ingrese el código de sindicato">
                        <span class="form-text text-danger"
                              *ngIf="campoInvalid('codsin')">
                            {{ codsinMsgError }}
                        </span>
                    </div>

                    <div class="field col-8">
                        <label for="dessin">Descripción *</label>
                        <textarea id="dessin" 
                                  pInputTextarea 
                                  formControlName="dessin" 
                                  rows="1"
                                  placeholder="Ingrese la descripción">
                        </textarea>
                        <span class="form-text text-danger"
                              *ngIf="campoInvalid('dessin')">
                            {{ dessinMsgError }}
                        </span>
                    </div>

                </div>
                
                
                <div class="formgrid grid">
                    
                    <div class="col-4">

                        <label class="text-lg font-medium mb-3">Registro</label>
                        
                        <div class="formgrid grid">
                            <div class="field col-3 text-right mt-2">
                                <label for="registro">Fecha:</label>
                            </div>
                            <div class="field col-9">
                                <p-calendar inputId="registro" 
                                            formControlName="registro"
                                            dateFormat="dd/mm/yy"
                                            placeholder="dd/mm/yyyy"
                                            appendTo="body">
                                </p-calendar>
                            </div>
                        </div>

                        <div class="formgrid grid">
                            <div class="field col-3 text-right mt-2">
                                <label for="nroreg">Número:</label>
                            </div>
                            
                            <div class="field col-9">
                                <p-inputNumber  inputId="nroreg"
                                                formControlName="nroreg"
                                                [format]="false"
                                                [maxlength]="5"
                                                placeholder="Ingrese el número">
                                </p-inputNumber>
                                <span class="form-text text-danger"
                                      *ngIf="campoInvalid('nroreg')">
                                    El número es de longitud máxima de 4 dígitos.
                                </span>
                            </div>
                        </div>
                        
                        <div class="formgrid grid">
                            <div class="field col-3 text-right mt-2">
                                <label for="ntomo">Tomo:</label>
                            </div>
                            <div class="field col-9">
                                <p-inputNumber  inputId="ntomo"
                                                formControlName="ntomo"
                                                [format]="false"
                                                [maxlength]="5"
                                                placeholder="Ingrese el tomo">
                                </p-inputNumber>
                                <span class="form-text text-danger"
                                      *ngIf="campoInvalid('ntomo')">
                                    El número es de longitud máxima de 4 dígitos.
                                </span>
                            </div>
                        </div>

                        <div class="formgrid grid">
                            <div class="field col-3 text-right mt-2">
                                <label for="nfolio">Folio:</label>
                            </div>
                            <div class="field col-9">
                                <p-inputNumber  inputId="nfolio"
                                                formControlName="nfolio"
                                                [format]="false"
                                                [maxlength]="5"
                                                placeholder="Ingrese el folio">
                                </p-inputNumber>
                                <span class="form-text text-danger"
                                      *ngIf="campoInvalid('nfolio')">
                                    El número es de longitud máxima de 4 dígitos.
                                </span>
                            </div>
                        </div>

                        <label class="text-lg font-medium mb-3">Inspectoria</label>
                        
                        <div class="formgrid grid">
                            <div class="field-radiobutton col-12">
                                <p-radioButton  inputId="local" 
                                                name="local" 
                                                value="0" 
                                                formControlName="local">
                                </p-radioButton>
                                <label for="local">Local</label>
                            </div>
                            <div class="field-radiobutton col-12">
                                <p-radioButton  inputId="nacional" 
                                                name="local" 
                                                value="1" 
                                                formControlName="local">
                                </p-radioButton>
                                <label for="nacional">Nacional</label>
                            </div>
                        </div>


                    </div>

                    <div class="col-8">

                        <label class="text-lg font-medium mb-3">Dirección</label>

                        <div class="formgrid grid">
                            <div class="field col-2 text-right mt-2">
                                <label for="dirsi1">Descripción: </label>
                            </div>
                            <div class="field col-10">
                                <textarea id="dirsi1" 
                                          pInputTextarea 
                                          formControlName="dirsi1" 
                                          rows="2"
                                          placeholder="Ingrese la dirección">
                                </textarea>
                            </div>
                        </div>

                        <div class="formgrid grid">
                            <div class="field col-2 text-right mt-2">
                                <label for="pais">País: </label>
                            </div>
                            <div class="field col-3">
                                <p-dropdown [options]="countrys"
                                            inputId="pais"
                                            appendTo="body"
                                            formControlName="paiCodpai"
                                            optionLabel="codigo"
                                            optionValue="codigo"
                                            #dropdownElement
                                            (onChange)="countrySelectChange($event, dropdownElement)"
                                            [showClear]="true"
                                            (onClear)="clearCountrySelect()"
                                            placeholder="Seleccione un país">
                                </p-dropdown>
                            </div>
                            <div class="field col-7">
                                <input  type="text"
                                        pInputText
                                        [value]="countrySelect"
                                        [disabled]="true"
                                        placeholder="País"/>
                            </div>
                        </div>

                        <div class="formgrid grid">
                            <div class="field col-2 text-right mt-2">
                                <label for="entidadfed">Ent. federal: </label>
                            </div>
                            <div class="field col-3">
                                <p-dropdown [options]="federalEntities"
                                            inputId="entidadfed"
                                            appendTo="body"
                                            formControlName="edoCodedo"
                                            optionLabel="codEntidad"
                                            optionValue="codEntidad"
                                            #dropdownElementEntity
                                            (onChange)="entitySelectChange(dropdownElementEntity)"
                                            [showClear]="true"
                                            (onClear)="clearEntitySelect()"
                                            placeholder="Seleccione una entidad">
                                </p-dropdown>
                            </div>
                            <div class="field col-7">
                                <input  type="text" 
                                        pInputText
                                        [value]="federalEntitySelect"
                                        [disabled]="true"
                                        placeholder="Entidad federal"/>
                            </div>
                        </div>

                        <div class="formgrid grid">
                            <div class="field col-2 text-right mt-2">
                                <label for="cdadCodciu">Ciudad: </label>
                            </div>
                            <div class="field col-10">
                                <input  type="text"
                                        id="cdadCodciu" 
                                        pInputText
                                        formControlName="cdadCodciu"
                                        placeholder="Ingrese ciudad"/>
                                <span class="form-text text-danger"
                                    *ngIf="campoInvalid('cdadCodciu')">
                                    La ciudad es de longitud máxima de 30 dígitos.
                                </span>
                            </div>
                            
                        </div>

                        <div class="formgrid grid">
                            <div class="field col-2 text-right mt-2">
                                <label for="tlfsi1">Teléfonos: </label>
                            </div>
                            <div class="field col-10">

                                <div>
                                    <p-inputMask inputId="tlfsi1"
                                                 mask="9999-9999999"
                                                 formControlName="tlfsi1"
                                                 placeholder="Ej. 0212-1112233">
                                    </p-inputMask>
                                </div>

                                <div class="mt-2">
                                    <p-inputMask inputId="tlfsi2"
                                                 mask="9999-9999999"
                                                 formControlName="tlfsi2"
                                                 placeholder="Ej. 0212-1112233">
                                    </p-inputMask>
                                </div>
                                
                            </div>
                        </div>

                        <div class="formgrid grid">
                            <div class="field col-2 text-right mt-2">
                                <label for="faxsin">Fax: </label>
                            </div>
                            <div class="field col-10">
                                <p-inputMask inputId="faxsin"
                                             mask="9999-9999999"
                                             formControlName="faxsin"
                                             placeholder="Ej. 0212-1112233">
                                </p-inputMask>
                            </div>
                        </div>

                        <div class="formgrid grid">
                            <div class="field col-2 text-right mt-2">
                                <label for="tlxsin">Telex: </label>
                            </div>
                            <div class="field col-10">
                                <p-inputMask inputId="tlxsin"
                                             mask="9999-9999999"
                                             formControlName="tlxsin"
                                             placeholder="Ej. 0212-1112233">
                                </p-inputMask>
                            </div>
                        </div>

                        <div class="formgrid grid">
                            <div class="field col-2 text-right mt-2">
                                <label for="eMail">E-mail: </label>
                            </div>
                            <div class="field col-10">
                                <input  type="text"
                                        id="eMail" 
                                        pInputText
                                        formControlName="eMail"
                                        placeholder="Ingrese email"/>
                                <span class="form-text text-danger"
                                    *ngIf="campoInvalid('eMail')">
                                    {{ eMailMsgError }}
                                </span>
                            </div>
                        </div>

                    </div>


                </div>

            </form>

        </ng-template>
        
        <ng-template pTemplate="footer">
            <button pButton 
                    pRipple 
                    label="Cancelar" 
                    icon="pi pi-times" 
                    class="p-button my-1" 
                    (click)="closeModal()">
            </button>
            <button pButton 
                    pRipple 
                    type="submit" 
                    label="Guardar" 
                    icon="pi pi-check" 
                    class="p-button my-1" 
                    (click)="save()">
            </button>
        </ng-template>
</p-dialog>