<div class="flex">
    <button *ngIf="showRefreshButton"
            pButton 
            class="btn-infocent mr-2"
            id="refresh"
            icon="pi pi-refresh"
            pTooltip="Refrescar tabla"
            tooltipPosition="bottom"
            (click)="refresh()"
            [disabled]="buttonDisabled">
    </button>
    <button *ngIf="showPrintButton"
            pButton 
            class="btn-infocent mr-3"
            id="print" 
            icon="pi pi-print"
            pTooltip="Imprimir"
            tooltipPosition="bottom"
            (click)="openModalPrint()"
            [disabled]="buttonDisabled">
    </button>
    <div class="separator"></div>
    <button *ngIf="showCreateButton"
            pButton 
            class="btn-infocent mr-2"
            id="add"  
            icon="pi pi-plus" 
            pTooltip="Agregar"
            tooltipPosition="bottom"
            (click)="openModalCreate()"
            [disabled]="buttonDisabled">
    </button>
    <button *ngIf="showUpdateButton"
            pButton
            class="btn-infocent mr-2" 
            id="edit" 
            icon="pi pi-pencil" 
            pTooltip="Editar"
            tooltipPosition="bottom"
            (click)="editSelectRow()"
            [disabled]="!selectRow || buttonDisabled">
    </button>
    <button *ngIf="showDeleteButton"
            pButton 
            class="btn-infocent mr-2" 
            id="delete"
            icon="pi pi-trash"
            pTooltip="Eliminar"
            tooltipPosition="bottom"
            (click)="deleteRow()"
            [disabled]="!selectRow || buttonDisabled">
    </button>
</div>