    <div class="grid">
        <div class="col-12 text-right">
            <button pButton 
                    pRipple 
                    label="Agregar fila" 
                    class="p-button text-rigth"
                    (click)="addNewRow()">
            </button>
        </div>
    </div>

    <p-table [value]="distribucionNominas" dataKey="id" responsiveLayout="scroll">
        
        <ng-template pTemplate="header">
            <tr>
                <!-- [pSortableColumn]="col.field" -->
                <th *ngFor="let col of columns">
                    {{ col.header }}
                    <!-- <p-sortIcon [field]="col.field"></p-sortIcon> -->
                </th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-rowData>
                
                <tr>
                    <td pEditableColumn>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="rowData.coddis">
                            </ng-template>
                            <ng-template pTemplate="output">
                                <input pInputText  class="input-select"  type="text" [(ngModel)]="rowData.coddis">
                                <!-- {{rowData.coddis}} -->
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td pEditableColumn>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="rowData.desdis">
                            </ng-template>
                            <ng-template pTemplate="output">
                                <input pInputText  class="input-select" type="text" [(ngModel)]="rowData.desdis">
                                <!-- {{rowData.desdis}} -->
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td pEditableColumn>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="rowData.ubidis">
                            </ng-template>
                            <ng-template pTemplate="output">
                                <input pInputText  class="input-select" type="text" [(ngModel)]="rowData.ubidis">
                                <!-- {{rowData.ubidis}} -->
                            </ng-template>
                        </p-cellEditor>
                    </td>
                </tr>

        </ng-template>
        
    </p-table>
