<!-- Spinner -->
<app-spinner></app-spinner>

<!-- Mensajes de alertas para usuarios -->
<p-toast></p-toast>
<p-confirmDialog ></p-confirmDialog>

<div class="grid">
    <div class="col-12">

        <div class="header-card bg-gray-600 text-white p-2">Formas de pago</div>
        <div class="card-table">
            
            <!-- Componente de botones -->
            <app-buttons (onRefresh)="refresh()"
                         (onOpenModalPrint)="openModalPrint()"
                         (onOpenModalCreate)="openModalCreate()"
                         (onEditRow)="editRow($event)"
                         (onDeleteRow)="deleteRow($event)">
            </app-buttons>

            <!-- Componente table -->
            <app-data-table [formasPago]="formasPagos"></app-data-table>
   
        </div>

    </div>
</div>

<!-- Modal Imprimir -->
<app-modal-print  
    [printModal]="printModal"
    [typesPagos]="typesPagos"
    (onCloseModalPrint)="closeModalPrintDialog()">
</app-modal-print>

<!-- Modal Agregar Editar-->
<app-modal-add-edit 
    [formasPagos]="formasPagos" 
    [formaPagoSelected]="formaPago"
    [typesPagos]="typesPagos"
    [createModal]="createModal" 
    [isEdit]="isEdit" 
    (onCloseModal)="closeModal()" 
    (onLoadData)="loadData()"
    [titleForm]="titleForm">
</app-modal-add-edit>