<!-- Spinner -->
<app-spinner></app-spinner>

<!-- Mensajes de alertas para usuarios -->
<p-toast></p-toast>
<p-confirmDialog ></p-confirmDialog>

<div class="grid">
    <div class="col-12">

        <div class="header-card bg-gray-600 text-white p-2">Formas de pago</div>
        <div class="card-table">
            
            <!-- Componente de botones -->
            <app-buttons (onRefresh)="refresh()"
                         (onOpenModalPrint)="openModalPrint()"
                         (onOpenModalCreate)="openModalCreate()"
                         (onEditRow)="editRow($event)"
                         (onDeleteRow)="deleteRow($event)">
            </app-buttons>

            <!-- Componente table -->
            <app-data-table [formasPago]="formasPagos"></app-data-table>
   
        </div>

    </div>
</div>

<!-- Modal imprimir -->
<p-dialog [(visible)]="printModal" header="Imprimir formas de pago" [modal]="true" [style]="{width: '40vw'}" class="p-fluid"
        [draggable]="false" [resizable]="false">
        
        <ng-template pTemplate="content">

            <div class="field">
                <label for="status">Tipo *</label>
                <p-dropdown [options]="typesFile" 
                            placeholder="Seleccione un tipo" 
                            optionLabel="name" 
                            [showClear]="true">
                </p-dropdown>
            </div>

            <div class="field">
                <label for="id">Código</label>
                <input  type="text"
                        pInputText
                        id="id"
                        placeholder="Ingrese el código"
                        required/>
            </div>
            
            <div class="field">
                <label for="desniv">Descripción</label>
                <input  type="text"
                        pInputText
                        id="desniv"
                        placeholder="Ingrese la descripción"
                        required/>
            </div>

        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button" (click)="printModal = false"></button>
            <p-button icon="pi pi-check" (click)="export()" label="Imprimir" icon="pi pi-print" styleClass="p-button"></p-button>
        </ng-template>
</p-dialog>

<!-- Modal agregar -->
<p-dialog [(visible)]="createModal" [modal]="true" [showHeader]="false" [closable]="false" 
          styleClass="p-fluid" 
          [draggable]="false" [resizable]="false">

          <ng-template pTemplate="content">

            <div class="flex justify-content-between align-items-center my-4">
                <h5>{{titleForm}}</h5>
                <div class="p-dialog-header-icons">
                    <button pButton pRipple type="button" icon="pi pi-times"
                            class="p-button-rounded p-button-secondary p-button-text"
                            (click)="closeModal()">
                    </button>
                </div>
            </div>

            <form [formGroup]="form" autocomplete="off">

                <div class="field">
                    <label for="codpag">Código *</label>
                    <input  type="text"
                            id="codpag" 
                            pInputText
                            formControlName="codpag"
                            placeholder="Ingrese el código"/>
                    <span class="form-text text-danger"
                          *ngIf="campoInvalid('codpag')">
                        {{ codpagMsgError }}
                    </span>
                </div>
                
                <div class="field">
                    <label for="despag">Descripción *</label>
                    <input  type="text" 
                            id="despag"
                            pInputText
                            formControlName="despag" 
                            placeholder="Ingrese la descripción"/>
                    <span class="form-text text-danger"
                          *ngIf="campoInvalid('despag')">
                        {{ despagMsgError }}
                    </span>
                </div>

                <div class="field">
                    <label for="conins">Tipo de pago *</label>
                    <p-dropdown [options]="typesPagos" 
                                appendTo="body" 
                                formControlName="conins" 
                                inputId="conins"
                                placeholder="Seleccione el tipo de pago">
                        <ng-template let-option pTemplate="item">
                            <span>{{option.label}}</span>
                        </ng-template>
                    </p-dropdown>
                    <span class="form-text text-danger"
                          *ngIf="campoInvalid('conins')">
                        El tipo de pago es obligatorio.
                    </span>
                </div>
            </form>

        </ng-template>
        
        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button" (click)="closeModal()"></button>
            <button pButton pRipple type="submit" label="Guardar" icon="pi pi-check" class="p-button" (click)="save()"></button>
        </ng-template>
</p-dialog>