<!-- Modal agregar -->
<p-dialog [(visible)]="createModal" [modal]="true" [showHeader]="false" [closable]="false" 
          class="p-fluid" [breakpoints]="{'960px': '80vw', '640px': '90vw'}" [style]="{width: '75vw'}"
          [draggable]="false" [resizable]="false">

          <ng-template pTemplate="content">

            <div class="flex justify-content-between align-items-center my-4">
                <h5>{{titleForm}}</h5>
                <div class="p-dialog-header-icons">
                    <button pButton pRipple type="button" icon="pi pi-times"
                            class="p-button-rounded p-button-secondary p-button-text"
                            (click)="closeModal()">
                    </button>
                </div>
            </div>

            <form [formGroup]="form" autocomplete="off">

                <div class="formgrid grid">

                    <div class="field col-3 md:col-2 text-right mt-2">
                        <label for="codemp">Nómina:</label>
                    </div>
                    <div class="field col-3 md:col-2">
                        <input  type="text"
                                id="codemp" 
                                pInputText
                                formControlName="codemp"
                                placeholder="Ingrese el código"/>
                    </div>

                    <div class="field col-6 md:col-3">
                        <input  id="desemp" 
                                pInputText 
                                formControlName="desemp"
                                placeholder="Ingrese la compañía"/>
                    </div>

                    <div class="field col-3 md:col-2">
                        <input  type="text"
                                id="codtipnom" 
                                formControlName="codtipnom" 
                                pInputText
                                placeholder="Ingrese el código"/>
                    </div>
                
                    <div class="field col-9 md:col-3">
                        <input  id="destipnom" 
                                pInputText 
                                formControlName="destipnom"
                                placeholder="Ingrese tipo nómina"/>
                    </div>

                </div>

                <hr *ngIf="isEdit" class="mt-4">

                <div class="formgrid grid" *ngIf="isEdit">
                    
                    <div class="field col-12 md:col-2">
                        <label for="coddis">Código *</label>
                        <input  type="text"
                                id="coddis" 
                                pInputText
                                placeholder="Ingrese el código"/>
                    </div>

                    <div class="field col-12 md:col-4">
                        <label for="desdis">Descripción *</label>
                        <input  type="text" 
                                id="desdis"
                                pInputText
                                placeholder="Ingrese la descripción"/>
                    </div>

                    <div class="field col-12 md:col-3">
                        <label for="ubidis">Tipo de jornada </label>
                        <p-dropdown [options]="dayType" 
                                    appendTo="body"
                                    inputId="ubidis">
                            <ng-template let-option pTemplate="item">
                                <span> {{ option.label }} </span>
                            </ng-template>
                        </p-dropdown>
                    </div>

                    <div class="field col-12 md:col-3">
                        <label for="labdom" class="flex justify-content-center align-items-center">Labora el día Domingo</label>
                        <div class="field-checkbox mt-3 flex justify-content-center align-items-center">
                            <p-checkbox id="labdom"
                                        name="labdom"
                                        [value]="true"
                                        [binary]="true">
                            </p-checkbox>
                        </div>
                    </div>

                </div>

                <hr *ngIf="isEdit">
                <!-- Button Rotación de grupo -->
                <div class="formgrid grid" *ngIf="isEdit">
                    <div class="col-12 text-right">
                        <button pButton 
                                pRipple 
                                label="Rotación"
                                class="p-button-raised p-button-secondary my-1"
                                (click)="openModalRotacion()">
                        </button>
                    </div>
                </div>

            </form>

        </ng-template>
        
        <ng-template pTemplate="footer">
            <div class="mt-2">
                <button pButton 
                        pRipple 
                        label="Cancelar" 
                        icon="pi pi-times" 
                        class="p-button my-1" 
                        (click)="closeModal()">
                </button>
                <button pButton 
                    pRipple 
                    type="submit" 
                    label="Guardar" 
                    icon="pi pi-check"
                    class="p-button my-1" 
                    (click)="save()">
                </button>
            </div>
        </ng-template>
</p-dialog>

<!-- Modal rotación-->
<app-modal-rotacion 
    [titleModalRotacion]="titleModalRotacion"
    [rotacionModal]="rotacionModal"
    (onCloseModal)="closeModalRotacion()">
</app-modal-rotacion>