
<app-navbar></app-navbar>
    

<div class="row p-0 m-0">
    <div class="col-2 m-0 p-0" style="height: 88.5vh;">
        <app-navbar-vertical></app-navbar-vertical>
    </div>

    <div class="col-10 content-dinamic">
        <h4 class="">Bienvenido al módulo Configuración </h4> 
        <p class="font-light text-800 text-justify">
            Gestiona todo lo relativo a los datos de personas o talento de la empresa, así como: información laboral del colaborador, aspectos relevantes en cuanto a las compañias aseguradores, datos de los centros de educación inicial, etc.
        </p>
        <router-outlet></router-outlet>
    </div>

</div>




