@import "src/styles";

.logoMenu {
    background-color: $primary-color;
}

.menu {
    background-color: rgb(83, 83, 83);
    font-size: 14px;
}

.separator {
    padding: 1rem;
    border-left: 1px solid white;
}

button {
    border: 0;
    background-color: transparent;
    color: white;
    font-size: 14px;
}