<!-- Spinner -->
<app-spinner></app-spinner>

<!-- Mensajes de alertas para usuarios -->
<p-toast></p-toast>
<p-confirmDialog ></p-confirmDialog>

<div class="grid">
    <div class="col-12">

        <div class="header-card bg-gray-600 text-white p-2">Procesos</div>
        <div class="card-table">
            
            <!-- Componente de botones -->
            <app-buttons (onRefresh)="refresh()"
                         (onOpenModalPrint)="openModalPrint()"
                         (onOpenModalCreate)="openModalCreate()"
                         (onEditRow)="editRow($event)"
                         (onDeleteRow)="deleteRow($event)">
            </app-buttons>

            <!-- Cargar tabla tipo skeleton -->
            <app-table-skeleton *ngIf="loading" [rowsNumber]="5" [columnsNumber]="5"></app-table-skeleton>

            <!-- Componente table -->
            <app-data-table *ngIf="!loading"
                            [procesos]="procesos">
            </app-data-table>
   
        </div>

    </div>
</div>

<!-- Modal Imprimir -->
<app-modal-print  
    [printModal]="printModal"
    (onCloseModalPrint)="closeModalPrintDialog()">
</app-modal-print>

<!-- Modal Agregar Editar-->
<app-modal-add-edit 
    [procesos]="procesos" 
    [procesoSelect]="procesoSelect"
    [createModal]="createModal" 
    [isEdit]="isEdit" 
    (onCloseModal)="closeModal()" 
    (onLoadData)="loadData()"
    [titleForm]="titleForm">
</app-modal-add-edit>
