<!-- Spinner -->
<app-spinner></app-spinner>

<div class="grid">
    <div class="col-12">

        <div class="header-card bg-gray-600 text-white p-2">Empresas / Puntaje de evaluación</div>
        <div class="card-table">

            <!-- Pestañas -->
            <p-tabView [(activeIndex)]="tabIndex">

                <!--/*******************
                /*  Consultar empresas *
                /*********************** -->
                <p-tabPanel header="Consultar empresas">

                    <div class="grid">
                        <div class="col-12 md:col-6">
                            <app-empresas></app-empresas>
                        </div>
                    
                        <div class="col-12 md:col-6">
                            <app-tipo-nomina [empresaRow]="empresaRow"
                                             (onGetDataPuntaje)="getDataPuntajes($event)"
                                             (onEnableTabAumento)="enableTabAumento($event)">
                            </app-tipo-nomina>
                        </div>
                    </div>

                </p-tabPanel>

                <!--/*****************************
                /*    Puntaje de evaluación      *
                /********************************* -->
                <p-tabPanel header="Puntaje de evaluación" [disabled]="empresaRow == null || nominaRow == null">
                    
                    <app-puntaje-evaluacion [empresaRow]="empresaRow"
                                            [nominaRow]="nominaRow"
                                            [puntajesEvaluacion]="puntajesEvaluacion"
                                            (onRefresh)="refresh()"
                                            (onEnableTabAumento)="enableTabAumento($event)"
                                            (onPuntajeEvaluacionSelect)="getDataPuntajeEvaluacion($event)">
                    </app-puntaje-evaluacion>

                </p-tabPanel>

                <!--/*****************************
                /*    Aumento por evaluación     *
                /********************************* -->
                <p-tabPanel header="Aumento por evaluación"  [disabled]="empresaRow == null || nominaRow == null || !isEnableAumentoTab">
                    
                    <app-aumento-evaluacion [aumentoEvaluacion]="aumentoEvaluacion"
                                            [puntajeEvaluacionSelectRow]="puntajeEvaluacionSelectRow"
                                            (onRefresh)="loadAumentoEvaluacion()">
                    </app-aumento-evaluacion>
                    
                </p-tabPanel>

            </p-tabView>
   
        </div>

    </div>
</div>