<!-- Spinner -->
<app-spinner></app-spinner>

<div class="grid">
    <div class="col-12">

        <div class="header-card bg-gray-600 text-white p-2">Empresas / Puntaje de evaluación</div>
        <div class="card-table">

            <!-- Pestañas -->
            <p-tabView>

                <!--/*******************
                /*  Consultar empresas *
                /*********************** -->
                <p-tabPanel header="Consultar empresas">

                    <div class="grid">
                        <div class="col-12 md:col-6">
                            <app-empresas></app-empresas>
                        </div>
                    
                        <div class="col-12 md:col-6">
                            <app-tipo-nomina [empresaRow]="empresaRow"
                                             (onGetDataGrupo)="getDataGrupo($event)">
                            </app-tipo-nomina>
                        </div>
                    </div>

                </p-tabPanel>

                <!--/*****************************
                /*    Puntaje de evaluación      *
                /********************************* -->
                <p-tabPanel header="Puntaje de evaluación" [disabled]="empresaRow == null || nominaRow == null">
                    
                    <app-puntaje-evaluacion [empresaRow]="empresaRow"
                                            [nominaRow]="nominaRow"
                                            [puntajesEvaluacion]="puntajesEvaluacion"
                                            (onRefresh)="refresh()">
                    </app-puntaje-evaluacion>

                </p-tabPanel>

            </p-tabView>
   
        </div>

    </div>
</div>