<!-- Modal imprimir -->
<p-dialog [(visible)]="printModal" header="Imprimir clasificación oficial" [modal]="true" [style]="{width: '40vw'}" class="p-fluid"
        [draggable]="false" [resizable]="false">
        
        <ng-template pTemplate="content">

            <div class="field">
                <label for="status">Tipo *</label>
                <p-dropdown [options]="typesFile" 
                            appendTo="body"
                            [showClear]="true"
                            placeholder="Seleccione un tipo" >
                </p-dropdown>
            </div>

            <div class="field">
                <label for="id">Código</label>
                <input  type="text"
                        pInputText
                        id="id"
                        placeholder="Ingrese el código"/>
            </div>
            
            <div class="field">
                <label for="desniv">Descripción</label>
                <input  type="text"
                        pInputText
                        id="desniv"
                        placeholder="Ingrese la descripción"/>
            </div>

        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button" (click)="printModal = false"></button>
            <p-button icon="pi pi-check" (click)="export()" label="Imprimir" icon="pi pi-print" styleClass="p-button"></p-button>
        </ng-template>
</p-dialog>