<!-- Mensajes de alertas para usuarios -->
<p-toast></p-toast>
<p-confirmDialog ></p-confirmDialog>

<div class="grid">
    <div class="col-12">

        <div class="grid">
            <div class="col-12">

                <!-- Inputs de nombre de empresa -->
                <div class="formgrid grid">

                    <div class="field col-3 md:col-3 lg:col-2 text-right mt-2">
                        <label for="codemp">Empresa:</label>
                    </div>
                    <div class="field col-3 md:col-3 lg:col-3">
                        <input  type="text"
                                id="codemp" 
                                class="w-full"
                                pInputText
                                [value]="empresaRow ? empresaRow.id : '' "
                                disabled/>
                    </div>
                
                    <div class="field col-5 md:col-4 lg:col-5">
                        <input  type="text"
                                id="desemp" 
                                class="w-full"
                                pInputText
                                [value]="empresaRow ? empresaRow.nombre : '' "
                                disabled/>
                    </div>

                </div>

            </div>
        </div>

        <div class="grid">
            <div class="col-12 md:col-offset-1 md:col-10">

                <p-panel header="Clase de información">
                    
                    <!-- Componente de botones -->
                    <app-button-clase-info (onRefresh)="refresh()"
                                           (onOpenModalPrint)="openModalPrint()"
                                           (onOpenModalCreate)="openModalCreate()"
                                           (onEditRow)="editRow($event)"
                                           (onDeleteRow)="deleteRow($event)">
                    </app-button-clase-info>
                    <!-- Componente table clase de información -->
                    <app-data-table-clase-info [clasesInformacion]="clasesInformacion"
                                               (onButtonDisabled)="disableButtons($event)"
                                               (onUnSelectRow)="resetTablaTipoInfo()">
                    </app-data-table-clase-info>
                    
                </p-panel>
                
            </div>
        </div>
        
        <div class="grid mt-3">
            <div class="col-12">

                <p-panel header="Tipos de información">

                    <!-- Componente tipo de información -->
                    <app-tipo-informacion [buttonDisabled]="buttonDisabled"
                                          [empresaRow]="empresaRow"
                                          [claseInformacionSelect]="claseInformacionSelect"
                                          [tiposInformaciones]="tiposInformaciones"
                                          (onRefreshData)="loadTiposInformacion()">
                    </app-tipo-informacion>

                </p-panel>
                
            </div>
        </div>

    </div>
</div>

<!-- Modal Imprimir -->
<app-modal-print  
    [printModal]="printModal"
    (onCloseModalPrint)="closeModalPrintDialog()">
</app-modal-print>

<!-- Modal Agregar Editar-->
<app-modal-add-edit
    [empresaRow]="empresaRow"
    [clasesInformacion]="clasesInformacion"
    [claseInformacionSelect]="claseInformacionSelect"
    [equivalencias]="equivalencias"
    [createModal]="createModal" 
    [isEdit]="isEdit" 
    (onCloseModal)="closeModal()" 
    (onLoadData)="refresh()"
    [titleForm]="titleForm">
</app-modal-add-edit>