@import "./variables";

.btn-infocent {
    border-color: $primary-color !important;
    background: $primary-color !important;
}

.btn-infocent:hover {
    border-color: $primary-color !important;
    background: $primary-color !important;
}

