@import "./variables";

.btn-infocent {
    border-color: $primary-color !important;
    background: $primary-color !important;
}

.btn-infocent:hover {
    border-color: $primary-color !important;
    background: $primary-color !important;
}

@media screen and (max-width: 375px) {
    .p-button {
        margin-bottom: .5rem;

        &:not(.p-button-icon-only) {
            display: flex;
            width: 100%;
        }
    }
}