<!-- Mensajes de alertas para usuarios -->
<p-toast></p-toast>
<p-confirmDialog ></p-confirmDialog>

<div class="grid">
    <div class="col-12">
            
        <!-- Componente de botones -->
        <app-buttons-distribucion (onRefresh)="refresh()"
                                  (onOpenModalPrint)="openModalPrint()"
                                  (onOpenModalCreate)="openModalCreate()"
                                  (onEditRow)="editRow($event)"
                                  (onDeleteRow)="deleteRow($event)">
        </app-buttons-distribucion>

        <!-- Componente table -->
        <app-data-table-distribucion [distribucionesNomina]="distribucionesNomina"></app-data-table-distribucion>

    </div>
</div>

<!-- Modal Imprimir -->
<app-modal-print  
    [printModal]="printModal"
    (onCloseModalPrint)="closeModalPrintDialog()">
</app-modal-print>

<!-- Modal Agregar Editar-->
<app-modal-add-edit
    [empresa]="empresa"
    [distribucionesNomina]="distribucionesNomina"
    [distribucionNominaSelect]="distribucionNominaSelect"
    [createModal]="createModal" 
    [isEdit]="isEdit" 
    (onCloseModal)="closeModal()"
    (onLoadData)="refresh()"
    [titleForm]="titleForm">
</app-modal-add-edit>