<!-- Mensajes de alertas para usuarios -->
<p-toast></p-toast>
<p-confirmDialog ></p-confirmDialog>

<div class="grid">
    <div class="col-12">
            
        <div class="grid">

            <div class="col-12 md:col-6">

                <!-- Componente de botones -->
                <app-buttons-distribucion (onRefresh)="refresh()"
                                        (onOpenModalPrint)="openModalPrint()"
                                        (onOpenModalCreate)="openModalCreate()"
                                        (onEditRow)="editRow($event)"
                                        (onDeleteRow)="deleteRow($event)">
                </app-buttons-distribucion>

            </div>

            <div class="col-12 md:col-6">

                <!-- Inputs de nombre de empresa -->
                <div class="formgrid grid">
                            
                    <div class="field col-3 md:col-3 lg:col-2 text-right mt-2">
                        <label for="codemp">Empresa:</label>
                    </div>
                    <div class="field col-3 md:col-3 lg:col-3">
                        <input  type="text"
                                id="codemp" 
                                class="w-full"
                                pInputText
                                [value]="empresaRow ? empresaRow.id : '' "
                                disabled/>
                    </div>
                
                    <div class="field col-5 md:col-6 lg:col-7">
                        <input  type="text"
                                id="desemp" 
                                class="w-full"
                                pInputText
                                [value]="empresaRow ? (empresaRow.nombre | titlecase) : ''"
                                disabled/>
                    </div>

                </div>

            </div>

        </div>

        <!-- Componente table -->
        <app-data-table-distribucion [distribucionesNomina]="distribucionesNomina"></app-data-table-distribucion>

    </div>
</div>

<!-- Modal Imprimir -->
<app-modal-print  
    [printModal]="printModal"
    (onCloseModalPrint)="closeModalPrintDialog()">
</app-modal-print>

<!-- Modal Agregar Editar-->
<app-modal-add-edit
    [empresaRow]="empresaRow"
    [distribucionesNomina]="distribucionesNomina"
    [distribucionNominaSelect]="distribucionNominaSelect"
    [createModal]="createModal" 
    [isEdit]="isEdit" 
    (onCloseModal)="closeModal()"
    (onLoadData)="refresh()"
    [titleForm]="titleForm">
</app-modal-add-edit>