<!-- Modal agregar -->
<p-dialog [(visible)]="createModal" [modal]="true" [showHeader]="false" [closable]="false" 
          class="p-fluid" [breakpoints]="{'960px': '80vw', '640px': '90vw'}" [style]="{width: '50vw'}"
          [draggable]="false" [resizable]="false">

          <ng-template pTemplate="content">

            <div class="flex justify-content-between align-items-center my-4">
                <h5>{{titleForm}}</h5>
                <div class="p-dialog-header-icons">
                    <button pButton pRipple type="button" icon="pi pi-times"
                            class="p-button-rounded p-button-secondary p-button-text"
                            (click)="closeModal()">
                    </button>
                </div>
            </div>

            <form [formGroup]="form" autocomplete="off">

                <div class="formgrid grid">
                    
                    <div class="field col-12 md:col-4">
                        <label for="id">Código *</label>
                        <input  type="text"
                                id="id" 
                                pInputText
                                formControlName="id"
                                placeholder="Ingrese el código"/>
                        <span class="form-text text-danger"
                              *ngIf="campoInvalid('id')">
                            {{ idMsgError }}
                        </span>
                    </div>

                    <div class="field col-12 md:col-8">
                        <label for="nombre">Descripción *</label>
                        <input  type="text" 
                                id="nombre"
                                pInputText
                                formControlName="nombre"
                                placeholder="Ingrese la descripción"/>
                        <span class="form-text text-danger"
                              *ngIf="campoInvalid('nombre')">
                            {{ nombreMsgError }}
                        </span>
                    </div>

                </div>

                <div class="formgrid grid">

                    <div class="field col-12 md:col-12" formGroupName="equivalencia">
                        <label for="equivalencia">Equivalencia</label>
                        <p-dropdown [options]="equivalencias" 
                                    inputId="equivalencia"
                                    appendTo="body"
                                    optionLabel="nombre"
                                    optionValue="id"
                                    [showClear]="true"
                                    formControlName="id"
                                    placeholder="Seleccione equivalencia">
                        </p-dropdown>
                    </div>
                    
                </div>

            </form>

        </ng-template>
        
        <ng-template pTemplate="footer">
            <div class="mt-2">
                <button pButton 
                        pRipple 
                        label="Cancelar"
                        class="p-button-secondary my-1" 
                        (click)="closeModal()">
                </button>
                <button pButton 
                    pRipple 
                    type="submit" 
                    label="Guardar" 
                    icon="pi pi-save"
                    class="btn-infocent my-1" 
                    (click)="save()">
                </button>
            </div>
        </ng-template>
</p-dialog>