<div class="center-align full-height bg-gradient">
    <div class="movement center-align">
      <img class="error" src="../../../../assets/images/images_modules/error.png" alt="">
      <div>
        <div class="arrow down"></div>
        <div class="arrow up"></div> 
      </div>           
      <div class="card text-white p-2">         
          <div class="card-body">
            <h1 class="message-info">{{errorMessage}}</h1>
            <p class="message-description">Por favor cierre la pestaña o la ventana.</p>
          </div>
      </div>
    </div>    
</div>