<!-- Mensajes de alertas para usuarios -->
<p-toast></p-toast>
<p-confirmDialog ></p-confirmDialog>

<div class="grid">
    <div class="col-12">
            
        <div class="grid">
            <div class="col-12">

                <!-- Inputs de nombre de empresa -->
                <div class="formgrid grid">
                            
                    <div class="field col-3 md:col-3 lg:col-2 text-right mt-2">
                        <label for="codemp">Empresa:</label>
                    </div>

                    <div class="field col-3 md:col-3 lg:col-3">
                        <input  type="text"
                                id="codemp" 
                                class="w-full"
                                pInputText
                                [value]="empresaRow ? empresaRow.id : '' "
                                disabled/>
                    </div>

                    <div class="field col-5 md:col-4 lg:col-5">
                        <input  type="text"
                                id="desemp" 
                                class="w-full"
                                pInputText
                                [value]="empresaRow ? (empresaRow.nombre | titlecase) : ''"
                                disabled/>
                    </div>

                </div>

            </div>
        </div>

        <!-- Componente grados tabuladores -->
        <div class="grid">
            <div class="col-12 md:col-offset-1 md:col-10">

                <p-panel header="Tabuladores / Grados">
                    
                    <!-- Componente de botones -->
                    <app-buttons-grados (onRefresh)="refresh()"
                                        (onOpenModalPrint)="openModalPrint()"
                                        (onOpenModalCreate)="openModalCreate()"
                                        (onEditRow)="editRow($event)"
                                        (onDeleteRow)="deleteRow($event)">
                    </app-buttons-grados>

                    <!-- Componente table grados-->
                    <app-data-table [gradosTabulador]="gradosTabulador"
                                    (onButtonDisabled)="disableButtons($event)"
                                    (onUnSelectRow)="resetTablaValoresGrados()">
                    </app-data-table>
                
                </p-panel>
                
            </div>
        </div>

        <!-- Componente valores grados tabuladores -->
        <div class="grid mt-3">
            <div class="col-12">

                <p-panel header="Valores de grados">

                    <app-valores-grados-tabulador [empresaRow]="empresaRow"
                                                  [gradoTabuladorSelect]="gradoTabuladorSelect"
                                                  [buttonDisabled]="buttonDisabled"                                              
                                                  [valoresGrados]="valoresGrados"
                                                  [sueldoSelect]="sueldoSelect"
                                                  (onRefreshData)="loadValoresGrados()">
                    </app-valores-grados-tabulador>

                </p-panel>
            </div>
        </div>

    </div>
</div>

<!-- Modal Imprimir -->
<app-modal-print  
    [printModal]="printModal"
    (onCloseModalPrint)="closeModalPrintDialog()">
</app-modal-print>

<!-- Modal Agregar Editar-->
<app-modal-add-edit
    [empresaRow]="empresaRow"
    [gradosTabulador]="gradosTabulador"
    [gradoTabuladorSelect]="gradoTabuladorSelect"
    [createModal]="createModal" 
    [isEdit]="isEdit" 
    (onCloseModal)="closeModal()"
    (onLoadData)="refresh()"
    [titleForm]="titleForm">
</app-modal-add-edit>