<!-- Spinner -->
<app-spinner ></app-spinner>

<!-- Mensajes de alertas para usuarios -->
<p-toast></p-toast>
<p-confirmDialog ></p-confirmDialog>

<div class="grid">
    <div class="col-12">

        <div class="header-card bg-gray-600 text-white p-2">Empresas / Tipos de sueldos</div>
        <div class="card-table">

            <!-- Pestañas -->
            <p-tabView>

                <!--/*******************
                /*  Consultar empresas *
                /*********************** -->
                <p-tabPanel header="Consultar empresas">

                    <!-- Componente table -->
                    <app-data-table-empresa [companias]="companias"></app-data-table-empresa>
                                            
                </p-tabPanel>

                <!--/*************************
                /*    Tipos de sueldos       *
                /***************************** -->
                <p-tabPanel header="Tipos de sueldos" [disabled]="empresaRow == null">

                    <app-tipo-sueldo [empresaRow]="empresaRow"></app-tipo-sueldo>

                </p-tabPanel>

            </p-tabView>
   
        </div>

    </div>
</div>