$primary-color: #62C3B9;
$secondary-color: #1f89ce;
$default-color:#2399e5;
$dark-color: #222222;
$bg-gray-color: #f8f9fa;
$text-gray-color: #b9b9b9;

html, body {
    height: 100%;
}

body { 
    margin: 0;
    font-family: var(--font-family);
}

.full-height {
    height: 100vh;
}
 
.bg-primary-color {
    background-color: $primary-color;
}