<div class="flex">
    <button pButton class="btn-infocent mr-2" 
            icon="pi pi-refresh"
            pTooltip="Refrescar tabla"
            tooltipPosition="bottom"
            (click)="refresh()">
    </button>
    <button pButton class="btn-infocent mr-3" 
            icon="pi pi-print"
            pTooltip="Imprimir procesos"
            tooltipPosition="bottom"
            (click)="openModalPrint()">
    </button>
    <div class="separator"></div>
    <button pButton class="btn-infocent mr-2" 
            icon="pi pi-plus" 
            pTooltip="Agregar procesos"
            tooltipPosition="bottom"
            (click)="openModalCreate()">
    </button>
    <button pButton 
            class="btn-infocent mr-2" 
            icon="pi pi-pencil" 
            pTooltip="Editar procesos"
            tooltipPosition="bottom"
            (click)="editSelectRow()"
            [disabled]="!selectRow">
    </button>
    <button pButton 
            class="btn-infocent mr-2" 
            icon="pi pi-trash"
            pTooltip="Eliminar procesos"
            tooltipPosition="bottom"
            (click)="deleteRow()"
            [disabled]="!selectRow">
    </button>
</div>